* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #B62BEF;
  --color-secondary: #FFE900;
  --color-background: #000;
  --color-backgorund-secondary: #222121;
  --color-gray: #585757;
  --color-text: #b0b0b5;
  --color-white: #fff;
}

body, input, select {
  font-family: 'Archivo', sans-serif ;
  background-color: var(--color-background );
  outline: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 30px;
}

.structure {
  display: grid;
  grid-template-areas: 
    "header"
    "headline"
    "input"
    "featured"
    "card-container"
    "footer"
  ;
}

.structure-posts {
  display: grid;
  grid-template-areas: 
    "header"
    "headline"
    "description"
    "info"
    "content"
    "infoFooter"
    "featured"
    "footer"
  ;
}

.description,
.content,
.info,
.featured, 
.input,
.card-content {
  padding: 50px 22%;
}

.header {
  grid-area: header;
  background-color: var(--color-backgorund-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
}

.header img {
  cursor: pointer;
}

.header a {
  color: var(--color-primary);
  margin-left: 20px;
  cursor: pointer;
}

.header a + a {
  margin-left: 20px;
}

.headline {
  grid-area: headline;
  background: url(../images/fundo.png) no-repeat center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.structure .headline {
  position: relative;
  align-items: center;
}


.left {
  position: absolute;
  left: 50px;
  height: 50px;
}

.right {
  position: absolute;
  right: 50px;
  height: 50px;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.posts img {
  width: 20px!important;
  margin-right: 20px;
}

.posts span {
  color: var(--color-text);
  font-size: 20px;
}

.headline h1 {
  -webkit-text-stroke: 2px var(--color-white);
  width: 550px;
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  line-height: 85px;
}

.headline img {
  cursor: pointer;
}

.input input {
  width: calc(100% - 70px);
  height: 50px;
  border-radius: 50px;
  border: 3px solid var(--color-white);
  padding-left: 70px;
  font-size: 20px;
  margin-bottom: 25px;
  color: var(--color-white);
}

.search {
  position: relative;
}

.loupe {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 30px;
  cursor: pointer;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 15px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.card-content .card {
  border: 2px solid var(--color-white);
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-content .card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-content .card p {
  font-size: 20px;
  color: var(--color-white);
  margin-bottom: 35px;
  width: 80%;
  text-align: center;
}

.info {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.user {
margin-left: 20px;
}

.user p,
.share p { 
  font-size: 22px;
}

.share p {
  margin-bottom: 10px;
}

.socials img {
  cursor: pointer;
}

.socials img + img {
  margin-left: 15px;
  
}

.user .name {
  margin-bottom: 30px;
}

.description {
  grid-area: description;
  color: var(--color-text);
  max-width: 850px;
  
}

.description p {
  font-size:  22px;
  line-height: 34px;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 850px;
}

.content img {
  width: 100%;
}

.content p {
  color: var(--color-text);
  max-width: 850px;
  margin: 50px auto;
  line-height: 34px;
  font-size: 22px;
  font-weight: 400;
}

.reticence {
  font-size: 30px!important;
}

.infoFooter {
  grid-area: infoFooter;
}

.featured {
  grid-area: featured;
}

.featured h2 {
  color: var(--color-secondary);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 80px;
}

.featured .card {
  width: 220px;
  height: 250px;
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/drone.png) no-repeat center;
  object-fit: initial;
}

.featured .card p {
  font-size: 30px;
  color: var(--color-background);
  line-height: 50px;
  -webkit-text-stroke: 1px var(--color-backgorund-secondary );
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.footer {
  background-color: var(--color-backgorund-secondary);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer p {
  font-size: 18px;
  margin-top: 20px;
  color: var(--color-gray);
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
  .structure-posts .card-container {
    grid-template-columns: 1fr;
    overflow-x: initial;
  }

  .featured .card {
    width: 100%;
    padding: 0;
  }

  .description, .container, .info, .featured, .input, .card-content {
    padding: 50px 5%;
  }

  .user p, .share p {
    font-size: 16px;
  }

  .author img {
    width: 70px;
  }

  .socials img {
    width: 35px;
  }

  .card-content {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 600px) {

  .header {
    flex-direction: column;
  }

  .header .menu {
    margin-top: 20px;
  }

  .headline h1 {
    font-size: 50px;
    width: 100%;
  }

  .header a + a {
    margin-left: 8px;
}

.author img {
  width: 55px;
}

.user .name {
  margin-bottom: 15px;
}

.description, .content, .info, .featured {
    padding: 50px 5%;
}

.card-container {
  grid-template-columns: repeat(2, 1fr);
}

.featured .card p {
  font-size: 25px;
}

}